<nav class="breadcrumbs {{className}}" aria-label="Breadcrumb">
  <div class="breadcrumbs__inner container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="./" class="breadcrumbs__link">Бази</a>
        <i class="ph ph-caret-right breadcrumbs__separator"></i>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Якась підгруппа</a>
        <i class="ph ph-caret-right breadcrumbs__separator"></i>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__current" aria-current="page">Назва сторінки</span>
      </li>
    </ol>
  </div>
</nav>
